@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Diploma.Models.LectureNotes>
@if (User.IsInRole("Teacher"))
{
    <input type="button" onclick="location.href='@Url.Action("CreateNote","LectureNotes")'" value="Create new document" class="btn btn-primary addEventCalendar"/>
}
<div class="document-to-download-upper">
  <div class="document-to-download-middle">
    @foreach (var note in Model)
    {

        <div class="document-to-download-lower">
            <p>@note.Name</p>
            <input type="button" onclick="location.href='@note.Attachment'" value="Download" class="btn btn-primary" />

            <p>@note.Subject.Name</p>
            <p>@note.Teacher.User.Name @note.Teacher.User.Surname</p>
        </div>
        


    }
</div>
</div>
