@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Diploma.ViewModels.IssueViewModel

        <div id="window_change" class="popup">
        @using (Html.BeginForm("ChangeIssue", "Dashboard", FormMethod.Post))
        {
            <input type="hidden" asp-for="@Model.TableID" name="tableId" />
            <input type="hidden" asp-for="@Model.Id" name="id"/>
            
            <div>
                <input type="text" class="form-control dashName" asp-for="@Model.Name"  placeholder="Name of issue" name="name" required/>
                <input type="text" class="form-control dashName" asp-for="@Model.Description" placeholder="Description" name="description"/>
                <input type="text" class="form-control dashName" asp-for="@Model.Comments" placeholder="Comments" name="comments"/>
            </div>
            <input type="submit" class="btn btn-primary" value="Save changes" />
            <input type="button" class="btn btn-primary" onclick="javascript:PopUpHide('window_change')" value="Hide" />
        }
        @using (Html.BeginForm("DeleteIssue", "Dashboard", FormMethod.Post))
        {
            <input type="hidden" asp-for="@Model.Id" name="id" />
            <input type="submit" class="btn btn-primary" value="Delete Issue" />
        }
        </div>
