@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Diploma.ViewModels.IssueViewModel

        <div id="window_change" class="popup">
        @using (Html.BeginForm("ChangeIssue", "Dashboard", FormMethod.Post))
        {
            <input type="hidden" asp-for="@Model.TableID" name="tableId" />
            <input type="hidden" asp-for="@Model.Id" name="id"/>



            <div class="form-group">
                <input type="text" class="form-control" asp-for="@Model.Name" name="name" placeholder="Name" required autofocus /><br />
                <input type="text" class="form-control" asp-for="@Model.Description" name="description" placeholder="Description" required /><br />
                <input type="text" class="form-control" asp-for="@Model.Comments" name="comments" placeholder="Comment (if needed)" /><br />
            </div>
            <div>
                <input type="submit" class="btn btn-primary alignbutton" value="Save Changes" />
                <input type="button" class="btn btn-primary alignbutton" onclick="javascript: PopUpHide('window_change')" value="Hide" />
            </div>


            @*<div>
                <label>Name of issue</label>
                <input type="text" asp-for="@Model.Name"  name="name"/>
                <label>Description</label>
                <input type="text" asp-for="@Model.Description" name="description"/>
                <label>Comments</label>
                <input type="text" asp-for="@Model.Comments" name="comments"/>
            </div>
            <input type="submit" value="Save Changes" />*@
        }
        @using (Html.BeginForm("DeleteIssue", "Dashboard", FormMethod.Post))
        {
            <input type="hidden" asp-for="@Model.Id" name="id" />
            <input type="submit" class="btn btn-primary" value="Delete Issue" />
        }
        </div>
