@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model Diploma.ViewModels.IssueViewModel
    <div id="window_create" class="popup">
        <p>"Create New Issue"</p>
        @using (Html.BeginForm("CreateIssue", "Dashboard", FormMethod.Post))
        {
            
            <input type="hidden" name="tableId" value="@ViewBag.TableId" asp-for="@Model.TableID" />
            <div>
            
                <input type="text" class="form-control dashName" placeholder="Name" asp-for="@Model.Name" required/>
           
        
                <input type="text" class="form-control dashName" asp-for="@Model.Description" />
            </div>
            <div>
                
                <input type="text" class="form-control dashName" placeholder="Comments" asp-for="@Model.Comments" />
            </div>
            <input type="button" onclick="javascript:PopUpHide('window_create')" class="btn btn-primary" value="Hide" />
            <input type="submit" class="btn btn-primary" value="Create" />

        }
    </div>
