@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model Diploma.ViewModels.IssueViewModel
    @*<div id="window_create" >*@
        <p>"Create New Issue"</p>
        @using (Html.BeginForm("CreateIssue", "Dashboard", FormMethod.Post, new { id = "window_create", @class="popup" }))
        {
            <input type="hidden" name="tableId" value="@ViewBag.TableId" asp-for="@Model.TableID" />
            <div class="form-group">
                <input type="text" class="form-control" asp-for="@Model.Name" placeholder="Name" required autofocus /><br/>
                <input type="text" class="form-control" asp-for="@Model.Description" placeholder="Description" required /><br />
                <input type="text" class="form-control" asp-for="@Model.Comments" placeholder="Comment (if needed)"/><br />
            </div>
            <div>
                <input type="submit" class="btn btn-primary alignbutton" value="Create" />
                <input type="button" class="btn btn-primary alignbutton" onclick="javascript: PopUpHide('window_create')" value="Hide" />
            </div>
            
        }
    @*</div>*@
