@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model Dashboard_test.ViewModels.IssueViewModel
    <div id="window_create" class="popup">
        <p>"Create New Issue"</p>
        @using (Html.BeginForm("CreateIssue", "Dashboard", FormMethod.Post))
        {
            <a href="javascript:PopUpHide('window_change')">Hide</a>
            <input type="hidden" name="tableId" value="@ViewBag.TableId" asp-for="@Model.TableID" />
            <div>
                <label>Name</label>
                <input type="text" asp-for="@Model.Name" />
            </div>
            <div>
                <label>Description</label>
                <input type="text" asp-for="@Model.Description" />
            </div>
            <div>
                <label>Comments</label>
                <input type="text" asp-for="@Model.Comments" />
            </div>
            <input type="submit" value="Create" />
        }
    </div>
