@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model Diploma.ViewModels.ChangeProfileViewModel
<form method="post" >
    @Html.AntiForgeryToken()
    <div class="update-personal-info">
        <h4>Update your profile information</h4>
        <input asp-for="@Model.Username" class="form-control dashName" type="text" value="@Model.Username" placeholder="student" required /> <br>
        <input asp-for="@Model.Name" type="text" value="@Model.Name" class="form-control dashName" placeholder="John" required/><br>
        <input asp-for="@Model.Surname" type="text" value="@Model.Surname" class="form-control dashName" placeholder="Brown" required/><br>
        <input asp-for="@Model.Email" type="text" value="@Model.Email" class="form-control dashName" placeholder="jbrown@yahoo.com" /><br>
        @if(!Model.EmailConfirmed)
        {
            <h6>
                MAIL IS NOT CONFIRMED YET!<br>
            </h6>
        }
    </div>
    <input type="submit" class="btn btn-primary" value="Update information" />    
</form>