@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model Diploma.ViewModels.ChangeProfileViewModel
<form method="post">
    @Html.AntiForgeryToken()
    <div>
        <label>UserName</label>
        <input asp-for="@Model.Username" type="text" value="@Model.Username" /> 
    </div>
    <div>
        <label>Name</label>
        <input asp-for="@Model.Name" type="text" value="@Model.Name" />
    </div>
    <div>
        <label>Surname</label>
        <input asp-for="@Model.Surname" type="text" value="@Model.Surname" />
    </div>
    <div>
        <label>Group</label>
        <input asp-for="@Model.Group" type="text" value="@Model.Group"/>
    </div>
    <div>
        <label>Email</label>
        <input asp-for="@Model.Email" type="text" value="@Model.Email" />
        @if(!Model.EmailConfirmed)
        {
            <div>
                MAIL IS NOT CONFIRMED YET!
            </div>
        }
    </div>
    <input type="submit" value="Change!" />    
</form>