@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Registration";
}
@model Diploma.ViewModels.RegistrationViewModel

<form method="post" class="registration-form" enctype="multipart/form-data" id="registration">
    @Html.AntiForgeryToken()
    <h4>Registration form</h4>
    <div class="registration-block">
        <input asp-for="Username" class="form-control dashName" placeholder="Username" type="text" required />
        <br>
        <input asp-for="Name" type="text" class="form-control dashName" placeholder="John" required />
        <br>
        <input asp-for="Surname" type="text" class="form-control dashName" placeholder="Brown" required />
        <br>
        <input asp-for="Email" type="email" class="form-control dashName" placeholder="jbrown@yahoo.com" required />
        <br>
        <input type="password" asp-for="Password" class="form-control dashName" placeholder="Password" required />
        <br>
        <input type="password" class="form-control dashName" placeholder="Confirm your password" required />
        <br>
        <label>Avatar</label>
        <input type="file" asp-for="Avatar" />
        <br><br>
        <select class="form-control dashName" asp-for="Role">
            @foreach (var role in ViewBag.Roles)
            {
                <option>@role</option>
            }
        </select> <br><br>



        <div id="ForTeachers" style="display:none">
            <select class="form-control dashName" multiple asp-for="Groups">
                @foreach (var group in ViewBag.Groups)
            {
                    <option>@group</option>
                }
            </select>
            <select class="form-control dashName" multiple asp-for="Subjects">
                @foreach (var sub in ViewBag.Subjects)
            {
                    <option>@sub</option>
                }
            </select>
        </div>

        <div id="ForStudents">
            <div>
                <label asp-for="Group"></label>
                <select class="form-control dashName" asp-for="Group">
                    @foreach (var group in ViewBag.Groups)
                    {
                        <option>@group</option>
                    }
                </select>
            </div>
            <div>
                <select class="form-control dashName" asp-for="@Model.Course">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div>
                <label asp-for="StudentCard"></label>
                <input class="form-control dashName" asp-for="StudentCard" placeholder="AA00000000" style="text-transform: uppercase;" /><br><br>
            </div>
        </div>

        @*<div>
                <select multiple asp-for="Subjects">
                    @foreach (var sub in ViewBag.Subjects)
                    {
                        <option>@sub</option>
                    }
                </select>
            </div>*@











        <input type="submit" value="Register" class="btn btn-primary"/>
    </div>
</form>
<script>
    $('#Role').change(function () {
        if ($(this).val() == 'Student') {
            $('#ForStudents').css('display', 'block');
            $('#ForTeachers').css('display', 'none');
        }
        else if ($(this).val() == 'Teacher') {
            $('#ForStudents').css('display', 'none');
            $('#ForTeachers').css('display', 'block');
        }
        else return true
    });
    $('#StudentCard').keydown(function (event) {
        if ($(this).val().length >= 10)
            return (event.which == 8 || event.which == 46 || event.which == 39 || event.which == 37);
        else
            if ($(this).val().length >= 2)
                return ((event.which >= 48 && event.which <= 57) || (event.which >= 96 && event.which <= 105) || (event.which == 8 || event.which == 46 || event.which == 39 || event.which == 37));
            else
                return ((event.which >= 65 && event.which <= 90) || (event.which == 8 || event.which == 46 || event.which == 39 || event.which == 37))

    });
    //function stud_valid(event) {
    //    if (document.getElementById('stud').value.length >= 10)
    //        return (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 39 || event.keyCode == 37);
    //    else
    //        if (document.getElementById('stud').value.length >= 2)
    //            return ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 39 || event.keyCode == 37));
    //        else
    //            return ((event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 39 || event.keyCode == 37));
    //}
</script>