@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Registration";
}
@model Diploma.ViewModels.RegistrationViewModel

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" type="text" />
    </div>
    <div>
        <label asp-for="Name" asp-validation-for="Name"></label>
        <input asp-for="Name" type="text" />
    </div>
    <div>
        <label asp-for="Surname"></label>
        <input asp-for="Surname" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>   
    <div>
        <select asp-for="Role">
            @foreach (var role in ViewBag.Roles)
            {
                <option>@role</option>
            }       
        </select>     
    </div>
    <div>
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password"/>
    </div>
    <div>
        <label>Confirm Password</label> 
        <input type="password"/>
    </div>
    <div>
        <label>Avatar</label>
        <input type="file" asp-for="Avatar" />
    </div>

    
    <div id="ForTeachers" style="display:none">
        <select multiple asp-for="Groups">
            @foreach (var group in ViewBag.Groups)
            {
                <option>@group</option>
            }     
        </select>
        <select multiple asp-for="Subjects">
            @foreach (var sub in ViewBag.Subjects)
            {
                <option>@sub</option>
            }
        </select>
    </div>   
    
    <div id="ForStudents">
        <div>
            <label asp-for="Group"></label>
            <select asp-for="Group">
                @foreach(var group in ViewBag.Groups)
                {
                    <option>@group</option>
                }
            </select>
        </div>
        <div>
            <select asp-for="@Model.Course">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div>
            <label asp-for="StudentCard"></label>
            <input asp-for="StudentCard" placeholder="AA00000000" style="text-transform: uppercase;" />
        </div>
    </div>
    @*<div>
        <select multiple asp-for="Subjects">
            @foreach (var sub in ViewBag.Subjects)
            {
                <option>@sub</option>
            }
        </select>
    </div>*@









    
        
    <input type="submit" value="Register" />
</form>
<script>
    $('#Role').change(function () {
        if ($(this).val() == 'Student') {
            $('#ForStudents').css('display', 'block');
            $('#ForTeachers').css('display', 'none');
        }
        else if ($(this).val() == 'Teacher') {
            $('#ForStudents').css('display', 'none');
            $('#ForTeachers').css('display', 'block');
        }
        else return true
    });
    $('#StudentCard').keydown(function (event) {
        if ($(this).val().length >= 10)
            return (event.which == 8 || event.which == 46 || event.which == 39 || event.which == 37);
        else
            if ($(this).val().length >= 2)
                return ((event.which >= 48 && event.which <= 57) || (event.which >= 96 && event.which <= 105) || (event.which == 8 || event.which == 46 || event.which == 39 || event.which == 37));
            else
                return ((event.which >= 65 && event.which <= 90) || (event.which == 8 || event.which == 46 || event.which == 39 || event.which == 37))

    });
    //function stud_valid(event) {
    //    if (document.getElementById('stud').value.length >= 10)
    //        return (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 39 || event.keyCode == 37);
    //    else
    //        if (document.getElementById('stud').value.length >= 2)
    //            return ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 39 || event.keyCode == 37));
    //        else
    //            return ((event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 39 || event.keyCode == 37));
    //}
</script>