@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Diploma.ViewModels.CreateEventViewModel
@*<div id="create_event_popup" class="popup">*@
    <h4>Create new event</h4>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "create_event_popup", @class= "popup"}))
    {
        <br>
        <div class="form-group">
            <input type="text" class="form-control dashName" asp-for="@Model.title" placeholder="Name of event" required autofocus /><br>
            <input type="text" class="form-control datetimepicker dashName" readonly="readonly" id="DateTimeStart" asp-for="@Model.start" placeholder="Event starts at.." required/><br>
            <input type="text" class="form-control datetimepicker dashName" readonly="readonly" id="DateTimeEnd" asp-for="@Model.end" placeholder="Event ends at.." required/><br>
            <input type="text" class="form-control dashName" asp-for="@Model.url" placeholder="Link" /><br>
            <label>
                All day event
                <input type="checkbox" asp-for="@Model.allDay" />
            </label><br>
            <label>
                Editable
                <input type="checkbox" asp-for="@Model.editable" />
            </label>
        </div>
        <div>
            <input class="btn btn-primary alignbutton" id="create_event_sub" value="Create" type="submit"/>
            <input type="button" class="btn btn-primary alignbutton" onclick="javascript: PopUpHide('create_event_popup')" value="Hide"/>
            <br><br>
        </div>
            //<input type="submit" value="Create" />
    }
@*</div>*@