@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Diploma.ViewModels.ScheduleVIewModel>
<link href="~/stylesheet/styleschedule.css" rel="stylesheet" />
<section id="cd-timeline" class="cd-container">
@foreach (var mod in Model)
{
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="~/img/cd-icon-location.svg" alt="Picture"/>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>@mod.Name</h2>
            <p>@mod.Teacher</p>
            <p>@mod.Group</p>
            <p>@mod.Day</p>
            <span class="cd-date">@mod.Start - @mod.End</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
}
</section> <!-- cd-timeline -->